<package-def>

    <class name="КартаСоответствие" file="src/Классы/Коллекции/Карты/КартаСоответствие.os"/>
    <class name="СинхронизированнаяКарта" file="src/Классы/Коллекции/Карты/СинхронизированнаяКарта.os"/>
    <class name="ФиксированнаяКарта" file="src/Классы/Коллекции/Карты/ФиксированнаяКарта.os"/>
    
    <class name="МножествоКарта" file="src/Классы/Коллекции/Множества/МножествоКарта.os"/>
    <class name="МножествоСоответствие" file="src/Классы/Коллекции/Множества/МножествоСоответствие.os"/>
    <class name="СинхронизированноеМножество" file="src/Классы/Коллекции/Множества/СинхронизированноеМножество.os"/>
    <class name="ФиксированноеМножество" file="src/Классы/Коллекции/Множества/ФиксированноеМножество.os"/>
    
    <class name="СинхронизированныйСписок" file="src/Классы/Коллекции/Списки/СинхронизированныйСписок.os"/>
    <class name="СписокМассив" file="src/Классы/Коллекции/Списки/СписокМассив.os"/>
    <class name="ФиксированныйСписок" file="src/Классы/Коллекции/Списки/ФиксированныйСписок.os"/>
    
    <class name="СинхронизированнаяКоллекция" file="src/Классы/Коллекции/СинхронизированнаяКоллекция.os"/>
    <class name="ФиксированнаяКоллекция" file="src/Классы/Коллекции/ФиксированнаяКоллекция.os"/>
    
    <module name="Карта" file="src/Модули/Карта.os"/>
    <module name="Массивы" file="src/Модули/Массивы.os"/>
    <module name="Множество" file="src/Модули/Множество.os"/>
    <module name="Соответствия" file="src/Модули/Соответствия.os"/>
    <module name="Список" file="src/Модули/Список.os"/>
    <module name="СравнениеЗначений" file="src/Модули/СравнениеЗначений.os"/>

</package-def>
