<package-def>

    <class name="Итератор" file="Классы/Интерфейсы/Итератор.os"/>
    <class name="Карта" file="Классы/Интерфейсы/Карта.os"/>
    <class name="Коллекция" file="Классы/Интерфейсы/Коллекция.os"/>
    <class name="Множество" file="Классы/Интерфейсы/Множество.os"/>
    <class name="Обходимое" file="Классы/Интерфейсы/Обходимое.os"/>
    <class name="Список" file="Классы/Интерфейсы/Список.os"/>
    <class name="СписокИтератор" file="Классы/Интерфейсы/СписокИтератор.os"/>
    <class name="ЧитаемаяКарта" file="Классы/Интерфейсы/ЧитаемаяКарта.os"/>
    <class name="ЧитаемаяКоллекция" file="Классы/Интерфейсы/ЧитаемаяКоллекция.os"/>
    <class name="ЧитаемоеМножество" file="Классы/Интерфейсы/ЧитаемоеМножество.os"/>
    <class name="ЧитаемыйСписок" file="Классы/Интерфейсы/ЧитаемыйСписок.os"/>
    <class name="ЧитающийИтератор" file="Классы/Интерфейсы/ЧитающийИтератор.os"/>
    <class name="ЧитающийСписокИтератор" file="Классы/Интерфейсы/ЧитающийСписокИтератор.os"/>
    <class name="ЧитаемаяОчередь" file="Классы/Интерфейсы/ЧитаемаяОчередь.os"/>
    <class name="Очередь" file="Классы/Интерфейсы/Очередь.os"/>

    <class name="ИтераторЗначениеСоответствие" file="Классы/Итераторы/ИтераторЗначениеСоответствие.os"/>
    <class name="ИтераторКлючСоответствие" file="Классы/Итераторы/ИтераторКлючСоответствие.os"/>
    <class name="ИтераторМассив" file="Классы/Итераторы/ИтераторМассив.os"/>
    <class name="СписокИтераторМассив" file="Классы/Итераторы/СписокИтераторМассив.os"/>
    <class name="ИтераторСоответствие" file="Классы/Итераторы/ИтераторСоответствие.os"/>
    <class name="ФиксированныйИтератор" file="Классы/Итераторы/ФиксированныйИтератор.os"/>
    <class name="ФиксированныйСписокИтератор" file="Классы/Итераторы/ФиксированныйСписокИтератор.os"/>

    <class name="СлужебныйИтераторДляДвижка" file="Классы/Служебные/СлужебныйИтераторДляДвижка.os"/>

    <class name="ФиксированнаяКоллекцияЗначений" file="Классы/Коллекции/ФиксированнаяКоллекцияЗначений.os"/>
    <class name="ФиксированноеМножествоКлючей" file="Классы/Коллекции/ФиксированноеМножествоКлючей.os"/>
    <class name="ФиксированноеМножествоКлючейИЗначений" file="Классы/Коллекции/ФиксированноеМножествоКлючейИЗначений.os"/>

    <module name="КартыСлужебный" file="Модули/КартыСлужебный.os"/>
    <module name="КоллекцииСлужебный" file="Модули/КоллекцииСлужебный.os"/>
    <module name="СравнениеЗначенийСлужебный" file="Модули/СравнениеЗначенийСлужебный.os"/>

</package-def>